@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #01003f;
    color: white; /* Para garantir que o texto seja visível */
}

.input-group {
    position: relative;
    margin: 20px 0;
    width: 100%; /* Para evitar que o input-group seja muito pequeno */
    max-width: 400px; /* Definir um limite máximo de largura */
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%; /* Agora o input preenche 100% da caixa */
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
    background: transparent;
    border: 1.2px solid #0ef;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #0ef;
    color: #01003f;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

button[type="button"]:hover {
    background-color: #00d1b2;
}
